<div>
    <article class="max-w-lg">
    <div class=" bg-white rounded shadow-2xl p-12 border-2 ">
    <div class="title">
        <div>
        <h3 class="bold text-2xl">{{title}}</h3>
        </div>
        <p>{{challenge_text}}</p>
        <p  class="bold">Due Date: {{format_challenge_date2 due_date}}</p>
    </div>
</article>
