

<button id="modal-btn" class="button">Click Here</button>

  <div id="my-modal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
        <h2>Challenges</h2>
      </div>
      <div class="modal-body">
        <p>testing</p>
      </div>
    </div> 
  </div>

    <script src="/javascript/modal.js"></script>

     