<nav>
    <div class="items-right " id="navbarcontent">
        <ul class="navbar-nav mr-4 mt-2 lg:flex lg:flex-row absolute inset-y-0 right-0">
          <li class="nav-item">
            <a class="nav-link block pr-2 lg:px-2 py-2 text-gray-600 hover:bg-gray-100 rounded " href=""  >Challenges</a>
          </li>
          <li class="nav-item">
            <a class="nav-link block pr-2 lg:px-2 py-2 text-gray-600 hover:bg-gray-100 rounded " href="" >Learn More</a>
          </li>
          <li class="nav-item">
            <a class="nav-link block pr-2 lg:px-2 py-2 text-gray-600 hover:bg-gray-100 rounded" href=""  >About Us</a>
          </li>
          <li class="nav-item mb-2 lg:mb-0">
            <a href="/login" class="bg-sky-500 block hover:bg-sky-800 rounded py-2 px-2 ">Login</a>
          </li>
        </ul>
      </div>
      <div>
          
      </div>
</nav>
