<nav>
    <div class="items-right " id="navbarcontent">
        <ul class="navbar-nav mr-4 mt-2 lg:flex lg:flex-row absolute inset-y-0 right-0">
          <li class="nav-item">
            <a class="nav-link block pr-2 lg:px-2 py-2 text-gray-600 " href=""  >Challenges</a>
          </li>
          <li class="nav-item">
            <a class="nav-link block pr-2 lg:px-2 py-2 text-gray-600 " href="" >Learn More</a>
          </li>
          <li class="nav-item">
            <a class="nav-link block pr-2 lg:px-2 py-2 text-gray-600 " href=""  >About Us</a>
          </li>
          <li class="nav-item mb-2 lg:mb-0">
            <button class="nav-link block pr-2 lg:px-2 py-2 text-gray-600 bg-sky-500 hover:bg-sky-800 rounded" href=""  >Sign Up!</button>
          </li>
        </ul>
      </div>
      <div>
          
      </div>
</nav>