<nav>
    <div class="items-right " id="navbarcontent">
        <ul class="navbar-nav mr-4 mt-2 lg:flex lg:flex-row absolute inset-y-0 right-0">
          
          <li class="nav-item">
            <a class="nav-link block pr-2 lg:px-2 py-2 text-gray-600 hover:bg-gray-100 rounded " href="/"  >Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link block pr-2 lg:px-2 py-2 text-gray-600 hover:bg-gray-100 rounded " href="/dashboard"  >Dashboard</a>
          </li>

          <li class="nav-item">
            <a class="nav-link block pr-2 lg:px-2 py-2 text-gray-600 hover:bg-gray-100 rounded " href="/group"  >Challenge Group</a>
          </li>
          {{#if loggedIn}}
          <li class="nav-item mb-2 lg:mb-0">
            <button id="logout" class="nav-link block bg-sky-500 rounded p-2 hover:bg-sky-700">Logout</button>
          </li>
          {{else}}
          <li class="nav-item mb-2 lg:mb-0">
            <a href="/login" class="bg-sky-500 block hover:bg-sky-800 rounded py-2 px-2 ">Login</a>
          </li>
          {{/if}}
        </ul>
      </div>
      <div>
          
      </div>
</nav>

{{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
{{/if}}