{{> header}}

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ul class="post-list">
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<div class="flex items-center justify-center">
  <div class="datepicker relative form-floating mb-3 xl:w-96">
    <input type="text"
      class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
      placeholder="Select a date" />
    <label for="floatingInput" class="text-gray-700">Select a date</label>
  </div>
</div>



<section>
  <h2>Create a new challenge</h2>

  <form class="new-post-form">
    <label>Title Name</label>
    <div>
      
      <textarea placeholder="Challenge name"/></textarea>
    </div>
<div>
      <label></label>
      <textarea placeholder="Enter description here"/></textarea>
    </div>
    <button type="submit" class="btn">Post!</button>
  </form>
</section>



<script src="../public/javascript/dashboard.js"></script>
<script src="../public/javascript/modal.js"></script>
