{{> header}}

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ul class="post-list">
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}