{{> header}}

<div class="ml-5 mr-5 flex flex-row flex-wrap justify-center">
    <div>
        <h1 class="text-4xl pt-52 font-bold">Defi Challenge</h1>
        <p class="pt-5 text-lg pt-20">Défi means "challenge" in french so <br> our site translates to "challenge challenge".<br> Let us help you in identifying your challenges <br> and tracking your progress towards completing them.</p> </br>
        <a href="/signup" class="bg-sky-500 hover:bg-sky-800 rounded text-lg py-2 px-10">Sign Up!</a>
    </div>
<div class="mt-32">
      <div class="border-2">
        <img src="https://media.istockphoto.com/photos/business-concept-picture-id537442618?k=20&m=537442618&s=612x612&w=0&h=azPWkqssdYBGjcWhlLmSxfml_HlNUunKc5mciTeZv-E=" alt="placeholder" width="800" height="800"></img>
    </div>
    </div>
</div>


{{> footer}}
