{{> header}}

<div>
    <div>
        <h1 class="text-4xl pt-52 pl-32 font-bold">Defi Challenge</h1>
    </div>
<div class="relative lg:flex-row">
    <p class="pt-5  absolute left-32 text-lg pt-20">Défi means "challenge" in french so <br> our site translates to "challenge challenge".<br> Let us help you in identifying your challenges <br> and tracking your progress towards completing them.</p>
    
      <div class="absolute right-32 border-2 lg-flex-row">
        <img src="https://media.istockphoto.com/photos/business-concept-picture-id537442618?k=20&m=537442618&s=612x612&w=0&h=azPWkqssdYBGjcWhlLmSxfml_HlNUunKc5mciTeZv-E=" alt="placeholder" width="800" height="800"></img>
    </div>
    </div>

  

    

    
</div>
<div class="relative  mt-60">
    <a href="/login" class="bg-sky-500 hover:bg-sky-800 rounded text-lg py-2 px-10 mt-60 ml-32">Sign Up!</a>
</div>




{{> footer}}